<div class="section_main">
  <nav class="navbar navbar-light">
    <a class="navbar-brand headerOncor" href="#">Oncor Project -- Header comes here</a>
    <hr>
  </nav>
  <div class="header_areawise_control">
    <p style="color: white; font-size: xx-large; font-weight: 500;">Areawise Controls</p>
  </div>
  <div class="container mt-3">
    <div>
      Dark mode <input type="checkbox" [checked]="darkMode$ | async" (change)="onToggle()" />
    </div>

    <app-areawise-controls></app-areawise-controls>
  </div>
</div>